header.hero
  .container
    h1 Famous Engine
    h2 High-performance javascript platform for animations & interfaces
    
    .install
      h3 Install Famous
      textarea(readonly onclick='this.setSelectionRange(0, this.value.length)' rows='2') npm install -g famous-cli&#013;&#010;famous init my-first-project

      a.copy(href='#' onclick='this.className += " copied"')
