header.hero
  .container
    h1 Famous Engine
    h3 High-performance javascript platform for animations & interfaces
    
    .button-section
      h4 Install
      input(type='text' readonly value='npm install -g famous-cli')
      button.cta.light Get Started

    a.main-nav-link.github(href='#') 6941
    a.main-nav-link.github-forks(href='#') 847