header.hero
  .container
    h1 Famous Engine
    h3 High-performance javascript for animations & interfaces
    
    .button-section
      input(type='text' value='curl https://install.famous.org/ | sh')
      br
      button.btn.btn-primary.btn-small Get Started

  button.btn.subscribe Subscribe