header.hero
  .container
    h1 Famous
    h3 An HTML5 platform for high-performance user interfaces
    
    .button-section
      button.btn.btn-primary.btn-small Get Started
      button.btn.btn-primary.btn-small Download Famous 0.x.x