header.hero
  .container
    h1 Famous Engine
    h2 High-performance javascript platform for animations & interfaces
    
    .button-section
      h3 Install Famous
      input(type='text' readonly value='npm install -g famous-cli')

    a.main-nav-link.github(href='#') 6941
    a.main-nav-link.github-forks(href='#') 847