header.hero
  .container
    h1 Famous Engine
    h2 High-performance javascript library for animations & interfaces
    
    .install
      textarea(readonly onclick='this.setSelectionRange(0, this.value.length); trackInstallClick();' rows='2') npm install -g famous-cli && &#013;&#010;famous init my-first-project
  .peek
