@import 'globals/reset'
@import 'globals/fonts'
@import 'globals/variables'
@import 'globals/theme.styl'

@import 'components/base'
@import 'components/famous-logo.svg'
@import 'components/download.svg'
@import 'components/buttons'
@import 'components/forms'

@import 'sections/error'
@import 'sections/nav'
@import 'sections/hero'
@import 'sections/tiles'
@import 'sections/content'
@import 'sections/get-started'
@import 'sections/terms'
@import 'sections/privacy-policy'
@import 'sections/footer'
@import 'sections/code-container'
@import 'sections/support'
