html(land="en")
  head
    include _partials/head.jade
  
  body
    
    // Main navigation
    include _partials/nav.jade
    
    block content
    
    // Footer
    include _partials/footer.jade

    //scripts
    include _partials/scripts.jade