extends ./_layout.jade

block content
  // Hero section
  include _partials/hero.jade

  // Marketing Row
  include _partials/marketing-row.jade

  // Main Content
  include:markdown content/index.md
