extend ../layouts/layout.jade

block vars
    - var pageType = "home error"

block content
  header.hero
     .container
        a(href='/')
          h1 404
        a(href='/')
          h2 Oops! Looks like you've reached a dead end.
