extends ../layouts/layout.jade

block vars
    - var title = "Getting Started with Famous"

//from nav.jade
block heading
    h1 Getting Started with Famous

//from nav.jade
block subheading
    h2 Build mobile apps faster with the web technologies you know and love.

block content
    section.content.getting-started
        .summary
            include:markdown ../content/get-started.md

        .steps
            include:markdown ../content/get-started-steps.md

    section.tiles
        include:markdown ../content/tiles.md