extends ../layouts/layout.jade

block vars
    - var pageType = "home"

block content
  // Hero section
  include ../partials/hero.jade

  // Main Content
  section.content
    .example
            include:markdown ../content/index-example1.md
    .separator
    .example
            include:markdown ../content/index-example2.md
    .separator
    .example
            include:markdown ../content/index-example3.md
    .separator
    .example
            include:markdown ../content/index-example4.md
