extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Marketing Row
  include ../partials/marketing-row.jade

  // Main Content
  section.content
    .examples
        include:markdown ../content/index.md
    .copy
        include:markdown ../content/index-copy.md
    .cta-group
        button.cta Get Started
        button.cta Download Famous 1.0.1.2
