extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Marketing Row
  include ../partials/marketing-row.jade

  // Main Content
  include:markdown ../content/index.md
