extends ../layouts/layout.jade

block content
  // Hero section
  include ../partials/hero.jade

  // Main Content
  section.content
    .examples
        include:markdown ../content/index-examples.md
    .cta-group
        button.cta Get Started
        button.cta Download Famous 1.0.1.2
