extends ../layouts/layout.jade
block vars
    - var title = "Famo.us Terms of Service"
//from nav.jade
block heading
    h1 Famo.us Terms of Service

block content
    section.content.terms
        include:markdown ../content/terms.md
