extends ../layouts/layout.jade
block vars
    - var title = "TOS"
//from nav.jade
block heading
    h1 Famous Terms of Service

block content
    section.content.terms
        include:markdown ../content/terms.md
