footer.site-footer
  nav.nav-footer
    a(href='/') Famous.org
    a(href='https://twitter.com/befamous') @befamous
    a(href='mailto:contact@famo.us' title='Email us at contact@famo.us') Contact Us
    a(href='#') Get updates
