section.marketing-row
  .container.cf
    .column
      h2 60 FPS anywhere
      p Famous was built from the ground up to bring 60 FPS animations to any screen. Because it's rooted in web technologies, Famous applications can go anywhere: browser, device, jumbotron.
    .column
      h2 Scene graph
      p Famous' internal architecture takes inspiration from AAA game engines, breaking out of document-based UI limitations with a full fledged scene graph that developers can access at a low level.
    .column
      h2 WebGL & 3D physics
      p Famous brings the rendering power of WebGL to your fingertips. In tandem with its fully integrated 3D physics engine, you can create stunning layouts and interactions that used to be the stuff of sci-fi movies.
