//UI button styles
button

  $shadow = $colors-foreground-primary-shadow
  $foreground = $colors-foreground-primary
  $background = $colors-primary
  $hoverForeground = $copy-light
  $hoverBackground = #333333

  $foregroundLight = white
  $backgroundLight = transparent
  $hoverForegroundLight = $colors-primary
  $hoverBackgroundLight = white

  font-family: $font-family-lato-black
  font-size: 75%
  font-weight: 100
  cursor: pointer
  transition(all ease-in-out 300ms)

  &.cta
    margin: 15px 0
    padding: 15px 60px
    border-radius: 5px
    border: 2px solid $colors-foreground-primary
    font-weight: 100
    text-transform: uppercase
    color:$colors-foreground-secondary
    background:$colors-foreground-primary
    box-shadow: 0px 2px 1px $colors-foreground-primary-shadow;

    &:hover
      color:$colors-foreground-primary
      background:$colors-foreground-secondary
      border: 2px solid $colors-foreground-primary
      box-shadow: 0px 0px 0px $colors-foreground-primary;

    &.subscribe
      margin:2px
      color:$colors-background-tertiary
      background:$colors-background-secondary
      border:none
      border-radius: 5px
      padding: 5px 30px
      box-shadow:none

      &:hover
        opacity:0.6
      
    &.light
      margin: 10px 0
      padding: 15px 60px
      background:$backgroundLight
      border: 1px solid $foregroundLight
      box-shadow:none

      &:hover
        background:$hoverBackgroundLight
        color: $hoverForegroundLight

    &.small
      background:$background
      border:none
      border-radius: 5px
      padding: 5px 30px
      box-shadow:none

      &:hover
        background:$hoverBackgroundLight
        color:$hoverForegroundLight
