//- Buttons

button
  font-family: $font-family-lato-black
  font-size: 75%
  font-weight: 100
  cursor: pointer
  transition(all ease-in-out 300ms)

.btn
  margin: 15px 0
  display: inline-block
  border-radius: 5px
  font-weight: 100
  text-transform: uppercase
  color: white

  &.btn-light
    border: 2px solid white

    &:hover
      background: white

  &.btn-light-grey
    &:hover
      color: $grey-drk

  &.btn-light-teal
    &:hover
      color: $teal

  &.btn-primary
    background:transparent
    border: 1px solid white

    &:hover
      background: white
      color: $teal

  &.btn-small
    margin: 10px 0
    padding: 15px 60px