/*
   Webfont: Lato-Hairline
   url: http://www.latofonts.com/lato-free-fonts/
*/
@font-face
  font-family: 'LatoHairline'
  src: url('fonts/LatoLatinHair-Regular.eot')
  src: url('fonts/LatoLatinHair-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatinHair-Regular.woff') format('woff'),
    url('fonts/LatoLatinHair-Regular.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

