
// Font Weights
$font-weight-normal = 400
$font-weight-bold = 700

//Font set
$fonts-regular = normal normal 400 1em/1em 'Lato',Helvetica,Arial,sans-serif;
$fonts-light = normal normal 100 1em/1em 'LatoLight',Helvetica,Arial,sans-serif
$fonts-very-light = normal normal 100 1em/1em 'LatoHairline',Helvetica,Arial,sans-serif
$fonts-bold = normal normal 100 1em/1em 'LatoBold',Helvetica,Arial,sans-serif
$fonts-very-bold = normal normal 100 1em/1em 'LatoBlack',Helvetica,Arial,sans-serif
$fonts-code = normal normal 100 1em/1em 'Source Code Pro',Courier,monospace

// Font Families
$font-family-lato-regular = 'Lato', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-hairline = 'LatoHairline', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-light = 'LatoLight', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-black = 'LatoBlack', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-bold = 'LatoBold', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-georgia = Georgia, serif
$font-family-opensans = 'Open Sans', Helvetica, Arial, sans-serif



//Color palette - use this to change global color styles
$colors-background-primary = rgba(64,64,64,1)
$colors-background-primary-highlight = rgba(82,82,82,1)
$colors-background-secondary = rgba(242,242,240,1)
$colors-background-tertiary = rgba(51,51,51,1)

$colors-foreground-primary = rgba(73,175,235,1)
$colors-foreground-primary-shadow = rgba(0,139,192,1)
$colors-foreground-secondary = white
$colors-foreground-tertiary = rgba(77,77,77,1)
$colors-foreground-tertiary-shadow = rgba(0,0,0,0.2)


//UI-specific - use this to change styles for specific UI elements

//base defaults
$fonts-heading = $fonts-light
$colors-heading-foreground = $colors-foreground-primary
$fonts-body = $fonts-regular
$colors-body-foreground = $colors-foreground-tertiary

//nav
$colors-logo = $colors-foreground-secondary
$fonts-nav-left = $fonts-regular
$fonts-nav-right = $fonts-regular
$colors-nav-primary = $colors-foreground-primary
$colors-nav-secondary = $colors-foreground-secondary

$colors-hamburger-foreground = $colors-foreground-secondary
$colors-hamburger-background = $colors-background-primary
$colors-nav-mobile-background = black
$colors-nav-mobile-background-hover = #333

//hero
$fonts-hero-code = $fonts-code
$fonts-hero-heading = $fonts-very-light
$fonts-hero-subheading = $fonts-light
$fonts-hero-cta = $fonts-very-bold
$fonts-hero-social = $fonts-regular
$colors-hero-primary = $colors-foreground-secondary
$colors-hero-secondary = $colors-foreground-primary

//content
$fonts-content-heading = $fonts-very-bold
$fonts-content-copy = $fonts-light
$colors-content-foreground = $colors-foreground-tertiary
$colors-content-foreground-shadow = $colors-foreground-tertiary-shadow
$colors-content-background = $colors-background-secondary

//tiles
$fonts-tiles-heading = $fonts-bold
$fonts-tiles-copy = $fonts-bold
$colors-tiles-primary = $colors-foreground-primary
$colors-tiles-secondary = $colors-foreground-secondary

//footer
$fonts-footer-nav = $fonts-regular