// Font Families
$font-family-lato-regular = 'Lato', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-hairline = 'LatoHairline', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-light = 'LatoLight', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-black = 'LatoBlack', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-lato-bold = 'LatoBold', 'Open Sans', Helvetica, Arial, sans-serif
$font-family-georgia = Georgia, serif
$font-family-opensans = 'Open Sans', Helvetica, Arial, sans-serif


// Font Weights
$font-weight-normal = 400
$font-weight-bold = 700


// Colors
$colors-logo = white

$colors-background-primary = rgba(64,64,64,1)
$colors-background-primary-highlight = rgba(82,82,82,1)
$colors-background-secondary = rgba(242,242,240,1)
$colors-background-tertiary = rgba(51,51,51,1)

$colors-foreground-primary = rgba(73,175,235,1)
$colors-foreground-primary-shadow = rgba(0,139,192,1)
$colors-foreground-secondary = white
$colors-foreground-tertiary = rgba(77,77,77,1)
$colors-foreground-tertiary-shadow = rgba(0,0,0,0.2)
