// Variables




$teal = #1695a3
$teal-drk = darken($teal,30%)
$grey-drk = #333
$grey-med = #444
$grey-light = #f7f7f7


white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

backgroundGradient(color1, color2)
  background: color1
  background: -webkit-linear-gradient(260deg, color1, color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(260deg, color1, color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(260deg, color1, color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(260deg, color1, color2); /* Standard syntax */

// Borders

$grey-border = 1px solid #ddd


// Shadows

$material-shadow = 0 0 3px black(.1), 0 3px 3px black(.2)


// Widths

$container-width = 1200px
$small-width = 600px
$medium-width = 800px

// Transforms & transitions

transition(args)
  -webkit-transition: args
  -moz-transition: args
  transition: args

transform(t)
  -webkit-transform: t
  -moz-transform: t
  transform: t

backface-visibility(args)
  -webkit-backface-visibility: args;
  backface-visibility: args;

centerVertical()
  position: relative
  top: 50%
  transform(translateY(-50%))

// Centering content absolutely

centerVert =
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  transform: translateY(-50%)

centerBoth =
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%,-50%)
  -moz-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)

centerHoriz =
  position: absolute
  left: 50%
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  transform: translateX(-50%)