block footer
  footer.site-footer
    nav.nav-footer
      a(href='terms.html') Terms
      a(href='privacy-policy.html') Privacy
      span
        &copy; Famous Industries, Inc. 2015
    .subscribe
      form(target="_blank" method="POST" action="////famous.us5.list-manage.com/subscribe/post?u=4656ba2b0a364690c8530bc1e&amp;id=fe5c0dd6d4")
          input(type="email" placeholder="Email Address" name="EMAIL")
          button Get Updates
