
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Famous is a platform for making beautiful experiences on the internet.')
meta(name='author', content='Famous Industries')

block title
  if title
    title #{title} | Famous.org
  else
    title Famous.org

//- link(href='/images/favicon.ico' rel='shortcut icon')
//link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet')

link(rel='stylesheet', href='/css/main.css')
block styles
