html(land="en")
  block vars
  head
    include ./head.jade
  
  body(class=(pageType || ""))
    
    // Main navigation
    include ./nav.jade
    
    block content
    
    // Footer
    include ./footer.jade

    //scripts
    include ./scripts.jade