nav.nav-main.cf
  a.nav-logo(href='/bob')
    object(type="image/svg+xml" data="/images/famous-logo.svg")

  label.reveal-nav-btn(for='reveal-nav')
  input.reveal-nav-input(type='checkbox' id='reveal-nav')

  .nav-main-list
    .list-left
      a.main-nav-link(href='#') Learn
      a.main-nav-link(href='#') Docs
      a.main-nav-link(href='#') Support
    .list-right
      a.main-nav-link.download(href='#') Download
