nav.nav-main.cf
  img.nav-logo(src='/images/famous-logo.svg')
  a.home(href='/') Famous.org
  label.reveal-nav-btn(for='reveal-nav')
  input.reveal-nav-input(type='checkbox' id='reveal-nav')
  
  .nav-main-list
    .list-left
      //- a.main-nav-link(href='http://github.com/famous/famous' target='_blank') Github
    .list-right
      a.main-nav-link(href='http://github.com/famous/famous' target='_blank') Github
      a.main-nav-link(href='http://famous.co' target='_blank') Create
