nav.nav-main.cf
  a.nav-logo(href='/')
    img(src='/images/famous-logo.svg')
  label.reveal-nav-btn(for='reveal-nav')
  input.reveal-nav-input(type='checkbox' id='reveal-nav')
  
  .nav-main-list
    .list-left
      a.main-nav-link(href='#') Learn
      a.main-nav-link(href='#') Docs
      a.main-nav-link(href='#') Support
      a.main-nav-link.download(href='#') Download
    .list-right
      a.main-nav-link.twitter(href='#') @BeFamous
      a.main-nav-link.github(href='#') 6941
      a.main-nav-link.unknown(href='#') 847
