<!--Website Schema -->
<script type="application/ld+json">
{  "@context" : "http://schema.org",
   "@type" : "WebSite",
   "name" : "Famous.org",
   "alternateName" : "Famous Industries",
   "url" : "http://www.famous.org"
}
</script>
<!--Organization Logo Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.famous.org",
  "logo": "http://code.famo.us/assets/famous.jpg"
}
</script>
<!--Social Media Scema -->
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Famous.org",
  "url" : "http://www.famous.org",
  "sameAs" : [ "http://www.facebook.com/famousindustries",
    "http://www.twitter.com/befamous",
    "http://github.com/famous/"] 
}
</script>
