.lang-bash
  display: block;
  overflow-x: auto;
  padding: 3em;
  margin: 2em
  background: #3f3f3f;
  color: white;
  -webkit-text-size-adjust: none
  
  .blue
    color: $colors-foreground-primary
  
  .yellow
    color: yellow


code
  font:$fonts-code
  font-size:14px
  color:$colors-foreground-primary
  background:#dbeffb
  white-space: pre-wrap

