.lang-bash
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: white;
  -webkit-text-size-adjust: none


code
  font:$fonts-code
  font-size:14px
  color:$colors-foreground-primary
  background:#dbeffb
  padding:5px
  white-space: pre-wrap

pre
  code.hljs
     margin:45px -100px 25px -45px
     padding:50px 0 50px 80px
