//Content section
section.content
  padding:10px 0 0 0
  background:$background-dark

  .examples
    color:$copy-light
    text-align:left
    max-width:1000px
    padding 0 10px
    margin:0 auto

    h2
      margin-top:110px
      font-family:$font-family-lato-black
      font-size:48px
      font-weight:100
      text-shadow: 1px 1px 0px rgba(0,0,0,0.2);

    p
      font-family:$font-family-lato-light
      font-size:16px
      max-width:350px
      margin:0

    img
      margin:80px 0 100px 0

    hr
      margin:100px 100px 0 0
      height:1px
      width:100%
      border:1px solid #587395

  .copy
    background:$background-light
    padding 110px 250px
    text-align:left
    color:$copy-dark

    h2
      font-family:$font-family-lato-hairline
      font-size:48px
      font-weight:100
      margin:0

    h3
      font-family:$font-family-lato-black
      font-size:48px
      font-weight:100
      margin:-15px 0 80px 0

    p
      font-family:$font-family-lato-light
      font-size:24px
      font-weight:100
      margin:60px 0

  .cta-group
    background:$background-light
    text-align:center
    padding:15px 0

    button
      margin:0 8px