// Footer section

.site-footer
  font-family:$font-family-lato-regular
  font-weight:100
  background:$colors-background-tertiary
  padding: 50px 0

  .subscribe
    margin-bottom:50px

  input
    border:none
    height:25px
    width:220px
    padding:0 16px
    background:$colors-background-secondary

  a
    display: inline-block
    color:$colors-foreground-secondary
    font-size: 14px
    margin:0 30px

    &:not(:last-child):after
      display: inline-block