// Footer section

.site-footer
  font-family:$font-family-lato-regular
  font-weight:100
  background: $background-footer
  padding: 50px 0

  input
    border:none
    height:25px

  a
    display: inline-block
    color:$copy-light
    font-size: 14px
    margin:0 30px

    &:not(:last-child):after
      display: inline-block