section.content.getting-started
  padding:100px 100px 130px 100px
  text-align:center
  background:white

  .summary
    margin:0 auto
    max-width:750px

    h2
      font:$fonts-light
      font-size:42px

    p
      font:$fonts-light
      font-size:24px

  code
    background:#dbeffb
    color:$colors-foreground-primary
    white-space:nowrap
    font:$fonts-code
    font-size:14px
    padding:2px

  .steps
    margin: 100px auto 0
    max-width:$max-width

    ol
      list-style-type: none;
      padding: 0;
      text-align:left

      li
        color:$colors-foreground-primary
        counter-increment: step-counter;
        font:$fonts-regular
        font-size:18px
        position:relative

        &:not(:last-child)
          margin-bottom:125px

        &:before
          content: counter(step-counter)
          z-index: -1
          padding:14px 20px
          border: 1px solid $colors-foreground-primary
          border-radius:50%;
          text-align: center;
          font:$fonts-regular
          font-size:24px
          color:$colors-foreground-primary
          transition: all .2s ease-out

        h2
          position:absolute
          left:0
          margin-left:100px
          display:inline
          font:$fonts-regular
          font-size:24px

        .description
          display:table
          margin-top:15px
          margin-left:100px

          p
            display:table-cell
            width:50%
            color:#A5A7AA

          code.example
            margin-left:50px
            padding:8px
            color:black
            background:#ebebeb
            border-left:5px solid #d2d3d4
            span
              color:#00C1B6

          /**
          * Re-arrange things if it gets too crowded
          */
          @media screen and (max-width: 1024px)
            display:block
            p
              display:block
              width:auto
            code.example
              display:block
              margin-left:0
              white-space:normal

  /**
  *  Resize the headings gradually as we scale the window
  */
  @media screen and (max-width: $max-width)
    padding:10vw

    .summary
      h2
        font-size:4vw
        line-height:4vw
      p
        font-size:2.5vw
        line-height:2.5vw

      .steps
        ol
          li
            .description
              display:block

              p
                font-size:16px
                line-height:18px


  /**
  *  Resize the headings gradually as we scale the window
  *  Tighten the margins in the step list
  */
  @media screen and (max-width: $medium-width)

    .steps
      ol
        li
          h2
            margin-left:80px
            font-size:20px
            line-height:20px

          .description
            display:block
            margin-top:5px
            margin-left:80px

            p
              font-size:16px
              line-height:18px

            code.example
              font-size:11px
              line-height:12px

  /**
  *  Minimum heading sizes
  */
  @media screen and (max-width: $small-width)
    padding:40px

    .summary
      h2
        font-size: 25px
        line-height:25px
      p
        font-size:16px
        line-height:18px

    .steps
      ol
        li
          h2
            margin-left:40px
          .description
            margin-left:40px
        li:before
          font-size:12px
          padding:7px 10px
