// Hero section

.hero
  $type-color = white
  position:relative
  padding-top: 80px
  padding-bottom: 20px
  height: 784px
  background: #00bfb4
  background: -webkit-linear-gradient(45deg, rgba(2,167,157,1), rgba(125,224,218,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, rgba(2,167,157,1), rgba(125,224,218,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, rgba(2,167,157,1), rgba(125,224,218,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, rgba(2,167,157,1), rgba(125,224,218,1)); /* Standard syntax */

  h1
    font-family:$font-family-lato-hairline
    font-size: 100px
    font-weight:100
    line-height:100px
    color:$type-color
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);

  h3
    margin: 30px 120px
    font-family:$font-family-lato-light
    font-size: 36px
    font-weight:100
    line-height:36px
    color:$type-color

  input[type='text']
    width:340px
    padding: 15px 30px
    font-family: Courier, monospace

  .container
    max-width:700px
    position:relative
    top:50%
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    transform: translateY(-50%)
  
    .button-section
      margin-top:40px

  button.subscribe
    position:absolute
    bottom:0
    right:0
    margin:25px

  @media screen and (max-width: $medium-width)

    h1
      font-size:80px
      line-height:80px
    h3
      font-size: 25px
      line-height:25px

  @media screen and (max-width: $small-width)

    h1
      font-size: 60px
      line-height:60px
    h3
      font-size: 20px
    .date
      font-size: 24px
    .location
      font-size: 16px