// Hero section
.peek
  background:$colors-content-background
  margin-left: auto
  margin-right: auto
  width: 70%
  left: 15%
  height: 2em
  border-radius: 25px;
  position: absolute
  bottom: -1em

.hero
  min-height: 500px
  max-height:760px
  height:100%
  padding-top: 100px
  padding-bottom: 20px
  text-align:center
  background:$colors-background-primary
  backgroundGradient($colors-background-primary, $colors-background-primary-highlight)
  position: relative

  h1
    font:$fonts-hero-heading
    font-size: 130px
    line-height:130px
    color:$colors-hero-primary
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);

  h2
    margin:15px auto 0 auto
    font:$fonts-hero-subheading
    font-size: 36px
    line-height:36px
    color:$colors-hero-primary
    width:600px

  h3
    margin:0px 0px 5px 0px
    padding:0
    font:$fonts-hero-cta
    font-size:12px
    line-height:12px
    text-transform: uppercase;
    color:$colors-hero-primary

  .container
    position:relative
    top:50%
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    transform: translateY(-50%)
  
    .install
      position:relative
      margin:0 auto
      width:270px
      margin-top:40px
      margin-bottom:25px
      text-align:left

      textarea
        outline: 0;
        background: #f5f5f5
        border:1px solid #f5f5f5
        border-radius: 5px
        resize: none
        overflow:hidden
        height:80px
        width:100%
        padding: 23px
        margin-right:10px
        margin-bottom:10px
        font:$fonts-hero-code
        font-size:12px
        selectedBackground($colors-hero-secondary)
        transition(all ease-out 300ms)

        &:focus
          outline: 0;
          boxShadow(inset 0px 0px 2px 0px $colors-hero-secondary)
          border:1px solid $colors-hero-secondary

    a.copy
      font:$fonts-hero-social
      font-size:12px
      margin: 0 0 0 30px
      position:relative
      width:17px
      height:17px
      float:right
      display: inline-block
      color:$colors-hero-primary
      background: url(../images/fpo-copy.png) 0 1px no-repeat

      /** Tooltip notification 'copied' */
      &.copied:before
        border: solid
        border-color: #000 transparent
        border-width: 0px 6px 6px 6px
        bottom: -10px
        content: ""
        left: 25%
        position: absolute
        z-index: 99
      &.copied:after
        font:$fonts-hero-social
        font-size:12px
        background: #000
        background: rgba(0,0,0,0.8)
        border-radius: 5px
        bottom: -35px
        color: #fff
        content: 'Copied!'
        left: -100%
        padding: 5px 15px
        position: absolute
        z-index: 98

  /**
  *  Resize the headings gradually as we scale the window
  */
  @media screen and (max-width: $max-width)
    h1
      font-size: 10vw
      line-height:10vw
    h2
      font-size: 3vw
      line-height:3vw
      width:50vw

  /**
  *  Minimum heading sizes
  */
  @media screen and (max-width: $small-width)

    h1
      font-size: 95px
      line-height:95px
    h2
      font-size: 18px
      line-height:18px
      width:305px
