// Marketing section

.marketing-row
  padding: 0
  text-align: left

  .column
    padding: 30px

  @media screen and (min-width: $small-width + 1px)

    .column
      width: 33.33%
      padding-bottom: 50px
