// Main nav

.nav-main

  $logo-size = 30px

  width: 100%
  padding: 25px
  position: fixed
  top: 0
  z-index: 10

  &.background
    background:$colors-background-primary
    backgroundGradient($colors-background-primary, $colors-background-primary-highlight)

  .nav-logo
    display: inline-block
    float: left
    margin-right:30px
    width: $logo-size
    height: $logo-size

    object
      pointer-events:none

  h1
    font:$fonts-light
    font-size:42px
    margin:80px 0 0 0
    padding:0
    text-align:left

  h2
    font:$fonts-bold
    font-size:18px
    margin:0 0 20px 0
    padding:0
    text-align:left

  .nav-main-list
    a
      font-size:12px
      margin:0 25px
      display: inline-block
      color: $colors-nav-primary

    a.cta
      margin: 0
      padding:8px 20px 8px 40px
      text-transform: none;
      border-radius: 5px
      line-height:12px
      text-align:center
      border: 1px solid $colors-nav-primary
      background: url("../images/download.svg") no-repeat scroll 15px -78px transparent

      &:hover
        opacity:1
        color:$colors-nav-primary
        background: url("../images/download.svg") no-repeat scroll 15px 6px $colors-nav-secondary

    .list-left
      font:$fonts-nav-left
      float: left
      text-transform: uppercase;
      centerVertical()

    .list-right
      font:$fonts-nav-right
      float: right
      text-align: right
      text-transform: uppercase;
      centerVertical()

      a
        display: inline-block

    &.home
      margin-left: 0
      float: left

  .reveal-nav-btn
    display:none
    position: absolute
    right:0
    margin-right: 30px
    padding:8px 10px 8px 10px
    text-transform: none;
    border-radius: 5px
    line-height:12px
    text-align:center
    color: $colors-nav-primary
    border: 1px solid $colors-nav-primary
    cursor: pointer

    &:hover
      opacity:1
      color:$colors-nav-primary
      background:$colors-nav-secondary

  .reveal-nav-input
    position: absolute
    right:0
    margin:30px
    display: none
    visibility: hidden
  
  .nav-main-list
    //same height as logo for vertical centering
    height: $logo-size
  
  .home
    margin-top: 8px

  /**
  * Page-specific nav styles
  */
  &:not(.home)
    position:relative
    backgroundGradient($colors-background-primary, $colors-background-primary-highlight)

    h1, h2
      color: $colors-nav-secondary

  /**
  * Mobile media styles for medium-width (and under) screens
  */
  @media screen and (max-width: $medium-width)

    .nav-main-list
      width: 100%
      visibility:hidden
      opacity:0
      background: $colors-nav-mobile-background
      position: absolute
      top: 100%
      left: 0
      margin-top: 0px
      //transition(all ease-in-out 300ms)

      .list-left
        float:none
        background:$colors-nav-mobile-background
        top:0
        transform(none)

        a
          margin: 0
          padding-left:30px
          border-bottom: 1px solid #222

      .list-right
        margin:0
        float:none
        background:$colors-nav-mobile-background
        top:0
        text-align:left
        text-transform: uppercase
        transform(none)

        a
          margin: 0
          padding-left:30px
          display:block

          &:not(:last-child)
            border-bottom: 1px solid #222

          &:hover
            background: $colors-nav-mobile-background-hover

        a.cta
          margin:0
          padding:10px 30px
          border:none
          border-bottom: 1px solid #222
          border-radius:0
          text-align:left
          text-transform: uppercase

          &:hover
            opacity:0.6
            color:$colors-foreground-primary
      a
        margin:0
        padding: 8px 30px
        display: block
        text-align: left

        &:hover
          background: $colors-nav-mobile-background-hover

    .reveal-nav-btn
    .reveal-nav-input
      display: inline-block

    .reveal-nav-input:checked + .nav-main-list
      visibility:visible
      opacity:1
