// Main nav

.nav-main

  $logo-size = 50px

  width: 100%
  padding: 25px
  position: absolute
  top: 0
  z-index: 10

  .nav-logo
    display: inline-block
    float: left
    margin-right:30px
    width: $logo-size
    height: $logo-size

    object
      pointer-events:none

  h1
    font-size:36px
    margin:80px 0 0 0
    padding:0
    text-align:left

  .nav-main-list
    a
      font-size:12px
      margin:0 30px
      display: inline-block
      color: $colors-nav-primary

    a.download
      margin: 0
      padding:8px 10px 8px 35px
      text-transform: uppercase;
      border-radius: 8px
      line-height:12px
      border: 1px solid $colors-nav-primary
      background: url("../images/download.svg") no-repeat scroll 15px -78px transparent

      &:hover
        opacity:1
        color:$colors-nav-primary
        background: url("../images/download.svg") no-repeat scroll 15px 6px $colors-nav-secondary

    .list-left
      font:$fonts-nav-left
      float: left
      text-transform: uppercase;
      centerVertical()

    .list-right
      font:$fonts-nav-right
      float: right
      text-align: right
      centerVertical()

    &.home
      margin-left: 0
      float: left

  .reveal-nav-btn
    position:absolute
    width: 36px
    height: 30px
    display: none
    right: 0
    margin:10px 30px 0 0
    border: 2px solid $colors-hamburger-foreground
    border-radius: 3px
    color: $colors-hamburger-foreground
    background:$colors-hamburger-background
    font-size: 14px
    text-transform: uppercase
    cursor: pointer

    // Hamburger mixin
    hamburger(color)
      background: color
      box-shadow: 0 6px 0 color,
                  0 12px 0 color

    // Hamburger
    &:before
      margin:5px auto 0
      width: 20px
      height: 2px
      display: block
      content: ''
      hamburger($colors-hamburger-foreground)

    &:hover
      background: $colors-hamburger-foreground

      &:before
        hamburger($colors-hamburger-background)

  .reveal-nav-input
    position: absolute
    right:0
    margin:30px
    display: none
    visibility: hidden
  
  .nav-main-list
    //same height as logo for vertical centering
    height: $logo-size
  
  .home
    margin-top: 8px

  @media screen and (max-width: $medium-width)

    .nav-main-list
      width: 100%
      visibility:hidden
      opacity:0
      background: $colors-nav-mobile-background
      position: absolute
      top: 100%
      left: 0
      margin-top: 0px
      transition(all ease-in-out 300ms)

      .list-left
        float:none
        background:$colors-nav-mobile-background
        top:0
        transform(none)

        a
          margin: 0
          padding-left:30px
          border-bottom: 1px solid #222

      .list-right
        float:none
        background:$colors-nav-mobile-background
        top:0
        text-align:left
        text-transform: uppercase
        transform(none)

        a
          margin: 0
          padding-left:30px

          &:not(:last-child)
            border-bottom: 1px solid #222

          &:hover
            background: $colors-nav-mobile-background-hover

        a.download
          padding:10px 30px
          border:none
          border-radius:0
          background: url("../images/download.svg") no-repeat scroll 10px -75px transparent

          &:hover
            opacity:0.6
            color:$colors-foreground-primary
            background: url("../images/download.svg") no-repeat scroll 10px -75px $colors-nav-mobile-background-hover
      a
        margin:0
        padding: 8px 30px
        display: block
        text-align: left

        &:hover
          background: $colors-nav-mobile-background-hover

    .reveal-nav-btn
    .reveal-nav-input
      display: inline-block

    .reveal-nav-input:checked + .nav-main-list
      visibility:visible
      opacity:1
