section.content.terms
  padding:100px 100px 130px 100px
  text-align:left
  background:white
  max-width:1200px
  margin:0 auto
  font:$fonts-regular
  font-size:14px

  h2
    font:$fonts-light
    font-size:42px
    margin-top:60px

  .steps
    margin: 100px 0 auto 0

  code
    line-height: 29px

  /**
  *  Resize the headings gradually as we scale the window
  */
  @media screen and (max-width: $max-width)
    padding:10vw
    h2
      font-size: 3vw
      line-height:3vw

  /**
  *  Minimum heading sizes
  */
  @media screen and (max-width: $small-width)
    padding:40px
    h2
      font-size: 18px
      line-height:18px