.tiles
  position:relative
  padding:70px
  background:#404041
  text-align:center

  ul
    margin:0 auto
    padding:0
    list-style-type: none
    display:inline-block
    text-align:center

    li
      padding:10px 50px
      display:inline-block
      text-align:left
      width:30%
      max-width:450px
      &:not(:last-child)
        border-right:1px solid #525355

  h4
    color:$colors-tiles-primary
    font:$fonts-tiles-heading
    font-size:18px
    line-height:36px
    white-space:nowrap

  p
    color:#D8D8D8
    font:$fonts-tiles-copy
    font-size:14px
    line-height:24px


  /**
  *  Tighten the margins a bit
  */
  @media screen and (max-width: 1024px)

    ul
      li
        padding:10px

  /**
  *  Stack the tiles
  */
  @media screen and (max-width: $medium-width)

    ul
      li
        display:block
        text-align:center
        width:auto
        &:not(:last-child)
          border:none
          border-bottom:1px solid #525355